In [1]:
from env import config, BASE_DIR
from sqlalchemy import create_engine, text

In [2]:
DATABASE_URL = config("FLIGHT_PRICES_DATABASE_URL", cast=str, default=None)
DATABASE_URL is not None

True

In [3]:
engine = create_engine(str(DATABASE_URL))

In [4]:
DATASET_DIR = BASE_DIR / "datasets"
DATASET_DIR.exists()

True

In [5]:
FLIGHT_PRICES_CSV = DATASET_DIR / "itineraries-min-50k.csv"
FLIGHT_PRICES_CSV.exists()

True

In [6]:
import pandas as pd

In [9]:
table_name = "flight_prices"
df = pd.read_sql(table_name, engine, index_col="index")

In [11]:
df.head(5)

,flightDate,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,segmentsAirlineName,totalFare
index,,,,,,,,
0,2022-04-17,ATL,BOS,0,0,0,American Airlines||American Airlines,273
1,2022-04-17,ATL,BOS,0,0,0,Spirit Airlines||Spirit Airlines,301
2,2022-04-17,ATL,BOS,0,0,0,United||United,352
3,2022-04-17,ATL,BOS,0,0,1,American Airlines,355
4,2022-04-17,ATL,BOS,0,0,1,Delta,307

In [12]:
SQL_DUMP_CSV = DATASET_DIR / "sql_dump.csv"
SQL_DUMP_CSV.exists()

False

In [14]:
df.to_csv(SQL_DUMP_CSV, index=False)